[submodule "ale"]
	path = vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "fzf"]
	path = vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf.vim"]
	path = vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim-terraform"]
	path = vim/pack/vendor/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "coc.vim"]
	path = vim/pack/vendor/start/coc.vim
	url = https://github.com/neoclide/coc.nvim
