[submodule "ale"]
	path = vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "fzf"]
	path = vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf.vim"]
	path = vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
